@model List<Reports.Models.ViewModels.DepartureCityViewModel>
    <div class="row" style="margin-left:710px">
        <div class="col-md-4">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>
                            Город отправления
                        </th>
                        <th>
                            Плановое кол-во перевозок
                        </th>
                        <th>
                            Итого факт
                        </th>
                        <th>
                            @Html.ActionLink("Назад", "Choice", "Shipping", null, new { @class = "btn btn-info" })
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<div style="display:flex; flex-direction:column">
    @foreach (var shipping in Model)
    {
        <div class="container" style="width: 300px; float: left">
            <div>
                <div v style="display:flex; flex-direction:row">
                    <div class="col-sm">
                        <button class="btn btn-primary dropdown-button">+</button>
                        @shipping.DepartureCity
                    </div>
                    <div class="col-sm">
                        @shipping.TotalPlannedShipping
                    </div>
                    <div class="col-sm">
                        @shipping.TotalActualShipping
                    </div>
                </div>
                @foreach (var item in shipping.ArrivalCityDataViewVodels)
                {
                    <div class="row children" style="visibility:hidden; position:absolute">
                        <div class="col-sm">
                            @item.ArrivalCity
                        </div>
                        <div class="col-sm">
                            @item.PlannedShipping
                        </div>
                        <div class="col-sm">
                            @item.ActualShipping
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
<script>
    $(function () {
        $(".dropdown-button").click(function (e) {
            if (e.target.innerText == "+") {
                var mainDiv = e.target.parentElement.parentElement.parentElement;
                for (var i = 1; i < mainDiv.children.length; i++) {
                    mainDiv.children[i].setAttribute("style", "visibility:visible; position:relative;");
                    var a = mainDiv.children[i].getAttribute("style");
                }
                e.target.innerText = "-";
            }
            else {
                var mainDiv = e.target.parentElement.parentElement.parentElement;
                for (var i = 1; i < mainDiv.children.length; i++) {
                    var a = mainDiv.children[i].getAttribute("style");
                    mainDiv.children[i].removeAttribute("style");
                    mainDiv.children[i].setAttribute("style", "visibility:hidden; position:absolute;");
                }
                e.target.innerText = "+";
            }
        });
    });
</script>
