@model List<Reports.Models.ViewModels.DepartureCityViewModel>
<div style="display:flex; flex-direction:column;margin-left:635px">
    @Html.ActionLink("Назад", "Choice", "Shipping", null, new { Class = "btn btn-lg btn-primary btn-block", Style = "width:140px;height:30px;margin-left:15px" })
    <div class="col-md-5">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>
                        Город отправления
                    </th>
                    <th>
                        Плановое кол-во перевозок
                    </th>
                    <th>
                        Итого факт
                    </th>
                </tr>
            </tbody>
            @foreach (var shipping in Model)
            {
                <tbody>
                    <tr>
                        <td class="dropdown-td">
                            @shipping.DepartureCity
                        </td>
                        <td>
                            @shipping.TotalPlannedShipping
                        </td>
                        <td>
                            @shipping.TotalActualShipping
                        </td>
                    </tr>
                </tbody>
                <tbody id="@shipping.DepartureCity" style="visibility:hidden; position:absolute;background-color:gray">
                    @foreach (var item in shipping.ArrivalCityDataViewVodels)
                    {
                        <tr>
                            <td>
                                @item.ArrivalCity
                            </td>
                            <td>
                                @item.PlannedShipping
                            </td>
                            <td>
                                @item.ActualShipping
                            </td>
                        </tr>

                    }
                </tbody>
            }
        </table>
    </div>

</div>
<script>
    $(function () {
        $(".dropdown-td").click(function (e) {
            var departureCity = e.target.innerText;
            var element = document.getElementById(departureCity);
            if (element.style.position == "absolute") {
                element.style.visibility = "visible";
                element.style.position = "relative";
            }
            else {
                element.style.visibility = "hidden";
                element.style.position = "absolute";
            }
        });
    });
</script>
